code.has-jax {
    -webkit-font-smoothing: antialiased;
    background: inherit !important;
    border: none !important;
    font-size: 100%;
}

#gui_container{
    position: relative;
    top: -85px;
    left: 555px;
  }
  #gui{
    transform:translate(0%, 0%);
  }
  